body {
  font-family: "Lato", sans-serif;
  background: url("1.jpeg");
    background-size: cover;
    background-position: center;

}

.textbox{
  width: 500px;
  height:300px; 
  padding: 1px;
  font-size: 30px;
  opacity: 0.5;
  color: #000000;
  }

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
}



.btn-group button {
  position: centre;
  border radius: 15px;
  background-color: #4CAF50;
  border: 1px solid green; 
  color: white;
  padding: 10px 24px; 
  cursor: pointer; 
  width: 50%; 
  display: block; 
}

.btn-group button:not(:last-child) {
  border-bottom: none;
}


.btn-group button:hover {
  background-color: #3e8e41;
}

.button1{
     background-color: #99ff99 ;
     border-radius: 20px;
     font-color: white;
     text-align: center;

}

.main {
   font-family: 'Dela Gothic One', cursive;
  margin-left: 160px;
  font-size: 28px;
  width: 800px;
  height: 450px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}